PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/olinp-assignment

# Firebase setup on frontend

# Razorpay (For Phase 10)
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
